<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Withdraw</h3>
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="selectedAccount">Select Account</label>
          <select class="form-control" id="selectedAccount" [(ngModel)]="selectedAccount" name="selectedAccount" (change)="onAccountChange($event)">
            <option *ngFor="let account of accounts" [ngValue]="account">{{ account.account_name }} - {{ account.account_id }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" id="amount" [(ngModel)]="withdrawalRequest.amount" name="amount" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    </div>
  </div>
</div>

<!-- Add this at the bottom of the file -->
<ng-template #successModal>
  <div mat-dialog-content>
    <h2>Success</h2>
    <p>Withdrawal successful.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="redirectToAccount()">Close</button>
  </div>
</ng-template>
